body {
    padding: 20px;
}

.datatable th {
    background: #BBB;
    padding: 5px;
}

.datatable tr:nth-child(even) {
    background: #EEE;
}

.datatable tr:nth-child(odd) {
    background: #FFF;
}

.datatable td {
    padding: 5px;
}

.preview {
    width: 220px;
    height: 100px;
}

.url-field {
    min-width: 40%;
}

.source-field {
    color: #9d9d9d;
    font-size: 12px;
    text-align: right;
}

.source-field:hover {
    color: black;
}

.table-pagination ul.pagination {
    text-align: center;
}

.table-pagination ul.pagination li {
    display: inline-block;
    padding: 7px;
}

.table-pagination ul.pagination a {
    color: #9d9d9d;
}

.table-pagination ul.pagination li.active a {
    color: magenta;
}

.table-pagination ul.pagination a:hover {
    color: #EE1C25;
}

.flags {
    text-align: center;
}

.flag-icon {
    width: 32px;
    height: 32px;
}
