<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Url chain</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/admin.css">
    <script src="/js/preview.js"></script>
</head>
<body onload="afterLoad()">



<div id="demo"><img src="/img/placeholder.png"/></div>



<table class="datatable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Preview</th>
        <th>Url</th>
        <th>Source</th>
        <th>Created</th>
        <th>Flags</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="link : ${page.content}">
        <td th:text="${link.id}">Text ...</td>
        <td th:text="${@urlService.encodeId(link.id)}">Text ...</td>
        <td class="preview"><img src="/img/placeholder.png"/></td>
        <td th:text="${link.url}" class="url-field">Text ...</td>
        <td th:text="${link.source}" class="source-field">Text ...</td>
        <td th:text="${#dates.format(link.created, 'dd.MM.yyyy hh:mm')}"
            th:title="${@adminController.getDatesHint(link.created, link.updated, link.expired)}">
            Text ...
        </td>
        <td class="flags">
            <img th:if="${not link.permanent}" class="flag-icon" src="/img/clocks.png" title="Permanent"/>
            <img th:if="${link.flagged}" class="flag-icon" src="/img/flag.png" title="Flagged"/>
            <img th:if="${link.test}" class="flag-icon" src="/img/bug.png" title="Is test"/>
        </td>
        <td><button type="button"
                    class="btn btn-primary btn-condensed">
            <i class="glyphicon glyphicon-folder-open"></i>
        </button></td>
    </tr>
    </tbody>
</table>

<div class="table-pagination">
    <ul class="pagination">
        <li th:class="${page.number eq 0} ? 'disabled' : ''">
            <a th:if="${not page.first}" th:href="@{${'/admin/'}(page=${page.number-1},size=${page.size})}">Previous</a>
            <span th:if="${page.first}">Previous</span>
        </li>

        <li th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}" th:class="${page.number eq pageNo}? 'active' : ''">
            <a th:if="${page.number  eq pageNo}" href="javascript:void(0);">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a th:if="${not (page.number  eq pageNo)}" th:href="@{${'/admin/'}(page=${pageNo},size=${page.size})}">
                <span th:text="${pageNo + 1}"></span>
            </a>
        </li>

        <li th:class="${page.number + 1 ge page.totalPages} ? 'disabled' : ''">
            <a th:if="${not page.last}" th:href="@{${'/admin/'}(page=${page.number+1},size=${page.size})}">Next</a>
            <a th:if="${page.last}">Next</a>
        </li>
    </ul>
</div>


<script>
    function afterLoad() {
        loadPreview();
    }
</script>

</body>
</html>
