<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Pruned one</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="stylesheet" type="text/css" href="/css/office.css">
    <script src="/js/office.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/img/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/ico/favicon-16x16.png">
    <link rel="manifest" href="/img/ico/site.webmanifest">
    <link rel="mask-icon" href="/img/ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

</head>
<body onload="updatePreviewContainers()">

<table class="datatable">
    <thead>
    <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Preview</th>
        <th>Url</th>
        <th>Source</th>
        <th>Created</th>
        <th>Flags</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="link : ${page.content}">
        <td th:text="${link.id}">Text ...</td>
        <td th:text="${@urlService.encodeId(link.id)}">Text ...</td>
        <td th:id="${'prev'+link.id}" class="preview-container"><img class="preview" src="/img/placeholder.png"/></td>
        <td th:text="${link.url}" class="url-field">Text ...</td>
        <td th:text="${link.source}" class="source-field">Text ...</td>
        <td th:text="${#dates.format(link.created, 'dd.MM.yyyy hh:mm')}"
            th:title="${@adminController.getDatesHint(link.created, link.updated, link.expired)}">
            Text ...
        </td>
        <td class="flags">
            <img th:if="${not link.permanent}" class="flag-icon" src="/img/clocks.png" title="not Permanent"/>
            <img th:if="${link.flagged}" class="flag-icon" src="/img/flag.png" title="Flagged"/>
            <img th:if="${link.test}" class="flag-icon" src="/img/bug.png" title="Is test"/>
        </td>
        <td><button type="button"
                    class="btn btn-primary btn-condensed">
            <i class="glyphicon glyphicon-folder-open"></i>
        </button></td>
    </tr>
    </tbody>
</table>

<div class="table-pagination">
    <ul class="pagination">
        <li th:class="${page.number eq 0} ? 'disabled' : ''">
            <a th:if="${not page.first}" th:href="@{${'/office/'}(page=${page.number-1},size=${page.size})}">Previous</a>
            <span th:if="${page.first}">Previous</span>
        </li>

        <li th:each="pageNo : ${#numbers.sequence(0, page.totalPages - 1)}" th:class="${page.number eq pageNo}? 'active' : ''">
            <a th:if="${page.number  eq pageNo}" href="javascript:void(0);">
                <span th:text="${pageNo + 1}"></span>
            </a>
            <a th:if="${not (page.number  eq pageNo)}" th:href="@{${'/office/'}(page=${pageNo},size=${page.size})}">
                <span th:text="${pageNo + 1}"></span>
            </a>
        </li>

        <li th:class="${page.number + 1 ge page.totalPages} ? 'disabled' : ''">
            <a th:if="${not page.last}" th:href="@{${'/office/'}(page=${page.number+1},size=${page.size})}">Next</a>
            <a th:if="${page.last}">Next</a>
        </li>
    </ul>
</div>

</body>
</html>
