<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Url chain</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <script src="/js/office.js"></script>
</head>
<body>
<div class="container">
    <p>Speak friend and enter</p>
</div>

<div class="data">
    <form id="welcomeform" method="post" action="/office/welcome">
        <label for="friend-field">Friend</label>
        <input id="friend-field" name="friend" class="url-field"/>
        <br/>
        <label for="word-field">Word</label>
        <input id="word-field" type="password" name="word" class="url-field"/>
        <br/>
        <input type="button" value="You shall not pass" onclick="sendWelcomeFields()"/>
    </form>
    <br/>
    <br/>
    <div id="results"></div>
</div>

<div class="footer">
    <p>You are being watched</p>
</div>

</body>
</html>
